* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.title {
    text-align: center;
}

.timer, .score {
    font-size: 17px;
}

button {
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(128, 18, 143, 0.801);
    margin: 7px;
    display: block;
}

button:hover {
    background-color: rgb(226, 101, 243);
    cursor: pointer;
}

.start {
    margin-bottom: 25px;
    width: 150 px;
}

.askQuestions {
    font-size: 20px;
    font-weight: bold;
}

.initials {
    margin-left: 13px;
}

.saveBtn {
    width: 175px;
}
