* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
}

.timer {
    text-align: center;
}

button {
    align-items: center;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(241, 85, 85);
}

button:hover {
    background-color: rgb(71, 175, 71);
    
}